.title-slide img,
.left-img img
{
  float: left;
}

.title-slide h4 {
  text-align: right;
}

.title-slide h5 {
  text-align: right;
}

pre {
  font-size: 1.8em;
}

.topped {
  margin-top: 100px;
}

.footnote {
  text-align: right;
  font-size: 2em;
}
